[Unit]
Description=Python GW-CLI Modem Autostart

[Service]
# Command to execute when the service is started
ExecStart=/usr/bin/python /usr/lib/python3.7/site-packages/gw_cli.py

[Install]
WantedBy=multi-user.target
